

/* General classes */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.clearfix{
    content: "";
    clear: both;
    display: table;
}


/* Header classes */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 100px;
}
#brand-logo{
    background-color: var(--black);
    width: 100%;
}
.brand_logo{
    width: 80px;
    float: right;
}
.navbar{
    width: 100%;
}
#navbar{
    background-color: white;
}
#navbar ul{
    margin-bottom: 0;
}
#navbar .services{ 
    padding: 0;
}
#navbar .access{
    padding-left: 0;
    padding-right: 5px;
}
#navbar ul li{
    list-style-type: none;
    display: inline-block;
    cursor: pointer;
}
#navbar ul li a{
    color: var(--black);
    padding: 0;
}
.navbar-expand-lg .navbar-collapse {
    justify-content: space-between;
}







/* Main */

/* sect 1 */
#jumbotron{
    background-color: black;
    margin-top: 80px;
}
.jumbotron{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    padding-bottom: 50px;
    
}
.jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 600px;
}
.banner-logo{
    width: 200px;
}
.banner-txt{
    width: 360px;
    text-align: left;
}

/* sect 2 */

.rounded {
    border-radius: 1.25rem!important;
}
.img-thumbnail{
    background-color: #fff;
    border: 0px solid #002d5a;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    position: relative;
}
.img-thumbnail:hover {
    padding: 2px;
    background-color: #fff;
    border: 2px solid #002d5a;
    border-radius: 0.25rem;
    max-width: 100%;
    height: auto;
    transform: translate(0, -10%);
    transition: all ease 0.5s;
}
.ps5-accessory{
    opacity: 0.7;
}
.ps5-accessory:hover{
    border-bottom: 1px solid var(--bs-primary);
    opacity: 1;
}





/* sect 3 */
.game-banner{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}
.takes-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}


/* sect 6 */
.bg-grey{
    background-color: var(--bs-gray-500);
}
.ps-banner-img{
    width: 700px;
}
.ps-banner-logo{
    width: 30vw;
}
.ps-banner-txt{
    width: 700px;
}
.ps-banner-container{
    width: 100%;
}
.btn-ps-plus {
    color: var(--bs-primary);
    background-color: var(--bs-gray-300);
    border-color: var(--bs-gray-300);
}


/* sect 8 */

.bg-blue{
    background-color: #161C3B;
}
.btn-ps-now {
    color: black;
    background-color: var(--bs-gray-200);
    border-color: var(--bs-gray-200);
}








@media screen and (max-width: 576px) {
    .ps5-accessory p{
        display: none;
    }
}







/* Variabili */


:root{
    --black: #000;
}
.primary{
    color: var(--bs-primary);
}
.txt-grey{
    color: var(--bs-gray);
}